<div class="beer-widget-container">
  <div class="content">
    @if (totalBeersNumber>0) {
      @if (lastIndex>1) {
        <div class="touch" (swipeleft)="paginator.panSelect(paginator.selectedIndex, $event.type)" (swiperight)="paginator.panSelect(paginator.selectedIndex, $event.type)">
          <div class="clearfix">
            <div class="col-8">
              <h2 class="beer-counter">{{totalBeersNumber}} {{"counter.label"|translate}}</h2>
            </div>
            <div class="col-4" style="text-align: right;">
              <beer-paginator #paginator [lastIndex]="lastIndex"
                (selectedIndexChange)="switchPage($event); paginator2.selectedIndex=paginator.selectedIndex;"
                (nextClicked)="paginator2.firstPageVisibleIndex=paginator.firstPageVisibleIndex"
                (prevClicked)="paginator2.firstPageVisibleIndex=paginator.firstPageVisibleIndex"
                (pageDirection)="pageDirection=$event">
              </beer-paginator>
            </div>
          </div>
          @for (beer of (beerMap.get(currentPageNumber)||[]); track beer) {
            <div class="beer-spacer">
              <beer-widget [beer]="beer" [direction]="pageDirection" (isClicked)="goToShow(beer.id)"
              (favouriteStatusChange)="editFavList($event)"></beer-widget>
            </div>
          }
          <div style="text-align: right;">
            <beer-paginator #paginator2 [lastIndex]="lastIndex"
              (selectedIndexChange)="switchPage($event); paginator.selectedIndex=paginator2.selectedIndex"
              (nextClicked)="paginator.firstPageVisibleIndex=paginator2.firstPageVisibleIndex"
              (prevClicked)="paginator.firstPageVisibleIndex=paginator2.firstPageVisibleIndex"
              (pageDirection)="pageDirection=$event">
            </beer-paginator>
          </div>
        </div>
      } @else {
        <div class="clearfix counter-container">
          <div class="col-8">
            <h2 class="beer-counter">{{totalBeersNumber}} {{"counter.label"|translate}}</h2>
          </div>
        </div>
        @for (beer of (beerMap.get(currentPageNumber)||[]); track beer) {
          <div class="beer-spacer">
            <beer-widget [beer]="beer" (isClicked)="goToShow(beer.id)"
            (favouriteStatusChange)="editFavList($event)"></beer-widget>
          </div>
        }
      }
    } @else {
      <div class="empty">
        <p>{{"emptyResult.favourites"|translate}}</p>
      </div>
    }


  </div>
</div>